:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --temp-bg-color: #7ddd85;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  /* some color: var(--secondary-color); */
}

.page-cap {
  display: flex;
  width: 1600px;
  height: 80px;
  /* padding-top: 15px;
  padding-bottom: 15px; */

  background-color: var(--primary-white-color);
  border-bottom: 1px solid red;
  /* just for visibility */
  /* border-bottom: 1px solid #ececec; */
}

.cap-container {
  display: flex;
}

.container {
  /* display: flex; */
  align-items: center;
  width: 1200px;
  /* content- 1170 + padding-left15 + padding-right 15px */
  padding-left: 15px;
  padding-right: 15px;
  /* auto margins to center container */
  margin-left: auto;
  margin-right: auto;
  /* background-color and outline: temp colors just to see different on screen*/
  background-color: #c8eecc;
  /* outline: 2px solid tomato; */
}

.temp-bg-color {
  background-color: var(--temp-bg-color);
}

ul {
  padding: 0;
  padding-inline-start: 0;
  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.logo {
  margin-right: 93px;
  margin-left: 0;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}

/* top line: logo color (text Color) */
.logo-span-topline {
  color: var(--primary-black-color);
}

/* footer: logo color (text Color) */
.logo-span-bottom {
  color: var(--primary-white-color);
}

/* logo hover&focus: can't find on figma styling */
/* .logo:hover,
.logo:focus {
  color: #ff0000;
  background-color: #d9d9d9;
} */

.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
  margin-left: 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-color);
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
  margin-left: 0;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-color);
}

.hero {
  width: 1600px;
  height: 600px;
  /* padding-top: 200px; */
  /* padding-right: 452px; */
  /* padding-bottom: 280px; */
  /* padding-left: 452px; */

  background-color: #2f303a;
}

.hero-title {
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  margin: 0;
  /* margin-right: auto; */
  /* margin-bottom: 0; */
  /* margin-left: auto; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  /* padding-left: 200px; */
  margin-top: 30px;
  margin-right: 700px;
  margin-left: 700px;

  /* margin-right: auto; */
  /* margin-bottom: 200px; */

  font-weight: 700;
  /* font-weight: 700; or bold */
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

.advantages-title {
  display: none;

  /* font-weight: 700; or bold - inherite from h2 default */
  font-size: 36px;
  line-height: 1.17;
  /* or 117% or 42px */
  text-align: center;
  letter-spacing: 0.03em;
  /* color: #212121; -->> var(--primary-text-color) - inherite from .body because text */
}

.advantage-title {
  margin-top: 94px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: #212121; -->> var(--primary-text-color) - inherite from .body because text */
}

.advantage-list {
  display: flex;
  /* align-items: center; */
  /* margin-left: auto; */
}

.advantage-item {
  display: flex;
  flex-direction: column;

  width: 270px;
  /* align-items: center; */
  /* margin-left: auto; */
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
  margin-left: 0;
}

.advantage-text {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 14px;
  /* font-weight: 400; or normal - default (inherit from browser?)*/
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activities-title {
  /* font-weight: 700; or bold - inherite from h2 default */
  font-size: 36px;
  line-height: 1.17;
  /* or 117% or 42px */
  text-align: center;
  letter-spacing: 0.03em;
  /* color: #212121; - inherite from .body because text */
}

.team-members-title {
  /* font-weight: 700; or bold - inherite from h2 default */
  font-size: 36px;
  line-height: 1.17;
  /* or 117% or 42px */
  text-align: center;
  letter-spacing: 0.03em;
  /* color: #212121; - inherite from .body because text */
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.lower-block {
  background-color: #2f303a;
}

.direction-list {
  font-style: normal;
}

.place-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

.place-link:hover,
.place-link:focus {
  color: var(--secondary-color);
}

.direction-link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.direction-link:hover,
.direction-link:focus {
  color: var(--secondary-color);
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  /* not inherit from .body */
  background-color: #f5f4fa;
  cursor: pointer;
  /* because pointer is not default value for bottons :) */
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
}

.project-title {
  /* font-weight: 700; or bold - inherite from h2 default */
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  /* color: #212121; -->> var(--primary-text-color) - inherite from .body because text */
}

.project-category {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
